<% provide(:title, "Edit Course") %> 
<h1>Update Course Info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :holes, "Number of holes" %>
      <%= f.number_field :holes %>
      
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>